.container{
  display: grid;
  gap: 10px;
  grid-template-areas:
  "header   header  header  header"
  "nav      main    main    sidebar"
  "nav      main    main    advertising"
  "footer   footer  footer  footer"
  ; 
}
.header, .nav, .main, .sidebar, .advertising, .footer{
    background-color: rgb(214, 124, 15);
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertising{
    grid-area: advertising;
}
.footer{
    grid-area: footer;
}