
.header, .nav, .main, .sidebar, .advertising, .footer{
    background-color: rgb(214, 124, 15);
    padding: 5px;
    border: 2px solid red;
    border-radius: 5px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertising{
    grid-area: advertising;
}
.footer{
    grid-area: footer;
}
.aside{
    grid-area: aside;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "header   header  header  header"
    "nav      main    main    aside"
    "nav      main    main    aside"
    "footer   footer  footer  footer"
    ; 
  }
  .aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    
   
  }


  @media screen and (max-width:576px) {
    .container{
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "aside"
        "footer"
        ;
    }
    .aside{
        gap: 1em;
    }
    
  }

  @media screen and (min-width:577px) and (max-width:992px) {
    .container{
        grid-template-areas: 
        "header     header      header"
        "nav        nav         nav"
        "aside      main        main"
        "footer    footer  footer"
        ;
    }
    .nav li{
       display: inline;
       text-decoration: none;
       padding-left: 130px;
        
    }
    
  }